<div id="our_story" class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">About</h1>
  </div>
  <div class="bottom right copyright">Copyright: <a href='http://www.123rf.com/profile_belchonock'>belchonock / 123RF Stock Photo</a></div>
</div>

<div id="our_story_content" class="ui vertical segment">
  <div class="ui container">
    <h2>Upgrade What?</h2>
    <p>If you're interested in increasing your productivity--or if your boss likes that word--there are some easy ways to become more productive. In fact, you're looking at a potential time-saving, efficiency-producing device right now. Your smartphone. Your tablet. Your computer.</p>
    <p>This blog is not aimed at general productivity tips. Our focus here is to help you leverage technology to organize your life, streamline business processes, and make you more efficient and effective in the work you really care about: making a difference in the world.</p>
    <p>Poor use of technology can actually waste time and dampen creativity and productivity. Using technology wisely can potentially save you and your employer much time, energy, and money. Here we'll give you intensely practical and simple tips to streamlining your work, and upgrade your life.</p>
    
    <h2>Team</h2>
    
    <p>To small businesses and nonprofits, we're technology consultants that promote streamlining of processes, find savings to pad budgets, and make space for the mission critical.
       To the everyday Joe, we're geeks with common sense and relational skills who can help them wisely implement simple, useful solutions.</p>
     <div class="ui items">
      <div class="item">
        <div class="image">
          <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Tim Kleier</a>
          <div class="description">
            <p>Tim...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Jeremy Kicklighter</a>
          <div class="description">
            <p>Jeremy...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Steve Schlotter</a>
          <div class="description">
            <p>Steve...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>