<div id="contributors" class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">Contributors</h1>
  </div>
</div>

<div id="contributors_content" class="ui vertical segment">
  <div class="ui container">
    <div class="ui items">
      <div class="item">
        <div class="image">
          <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Tim Kleier</a>
          <div class="description">
            <p>Tim...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Jeremy Kicklighter</a>
          <div class="description">
            <p>Jeremy...</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Steve Schlotter</a>
          <div class="description">
            <p>Steve...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>