<div id="home" class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header main_logo">
      <%= image_tag "logo.png" %>
    </h1>
    <h2>Leveraging technology towards real value</h2>
    <div class="ui huge primary button">Subscribe</div>
  </div>
  <div class="bottom right copyright">Copyright: <a href='http://www.123rf.com/profile_belchonock'>belchonock / 123RF Stock Photo</a></div>
</div>

<div id="filters" class="ui bottom attached segment">
  <div class="ui basic secondary three item menu">
    <a class="item">Time Savers</a>
    <a class="item">Money Savers</a>
    <a class="item">Quality Adds</a>
  </div>
</div>

<div class="ui vertical segment">
  
  <div class="ui container">
    <div class="ui very relaxed items">
      <% @posts.each do |post| %>
        <%= render "posts/render_post", post: post %> 
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>