<div id="our_story" class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">Our Story</h1>
  </div>
  <div class="bottom right copyright">Copyright: <a href='http://www.123rf.com/profile_belchonock'>belchonock / 123RF Stock Photo</a></div>
</div>

<div id="our_story_content" class="ui vertical segment">
  <div class="ui container">
    <p>If you're interested in increasing your productivity--or if your boss likes that word--there are some easy ways to become more productive. In fact, you're looking at a potential time-saving, efficiency-producing device right now. Your smart phone. Your tablet. Your computer.</p>
    <p>This blog is not aimed at general productivity tips. Our focus here is to help you leverage technology to organize your life, streamline business processes, and make you more efficient and effective in the work you really care about: making a difference in the world.</p>
    <p>Poor use of technology can actually waste time and dampen creativity and productivity. Using technology wisely can potentially save you and your employer much time, energy, and money. Here we'll give you intensely practical and simple tips to streamlining your work, and upgrade your life.</p>
    
    <p>The Upgrade Team</p>
  </div>
</div>

<%= render 'layouts/footer' %>