<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Upgrade Blog!</h1>
    <p>
      You have successfully signed up to receive posts that will save you time and money and add value to your life.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>