// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.metrics div { 
  width: 50px; 
  height: 50px; 
  display: inline-block;
  margin: 20px;
  position: relative;
  i { margin: 18px 7px !important; }
}

.very.relaxed.items .item { margin-bottom: 50px; }
.post {
  .header { 
    font-family: 'Raleway' !important;
    font-size: 2.5em !important; 
  }
  .content .meta {
    span { margin-right: 0.5em !important; }
    span.date { font-style: italic; }
  }
}