<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column">
        <h3 class="ui inverted header">The Upgrade</h3>
        <div class="ui inverted link list">
          <%= link_to "About", about_path, class: "item" %>
          <%= link_to "Contributor Login", login_path, class: "item" %>
        </div>
      </div>
      <div class="twelve wide column">
        <h3 class="ui inverted header">Follow</h3>
        <p>Want upgrades delivered to your inbox? Enter your email below. No spam. Promise.</p>
        <%= render "layouts/subscribe_form" %>
      </div>
    </div>
  </div>
</div>