<% unless params[:controller] == "main" and params[:action] == "index" %>  
  <div class="ui inverted segment">
    <div class="ui large inverted top fixed menu">
      <%= link_to image_tag('logo-small-white'), root_url, id: "menu_logo", class: "item" %>
      <%= menu_link "Posts", posts_path %>
      <%= menu_link "Users", users_path %>
    </div>
  </div>
<% end %>
  
<!-- Following Menu -->
<!--<div class="ui inverted large top fixed hidden menu">-->
<!--  <div class="ui container">-->
<!--    <a class="active item">Home</a>-->
<!--    <a class="item">Work</a>-->
<!--    <a class="item">Company</a>-->
<!--    <a class="item">Careers</a>-->
<!--    <div class="right menu">-->
<!--      <div class="item">-->
<!--        <a class="ui button">Log in</a>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <a class="ui primary button">Sign Up</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Sidebar Menu -->
<!--<div class="ui vertical inverted sidebar menu">-->
<!--  <a class="active item">Home</a>-->
<!--  <a class="item">Work</a>-->
<!--  <a class="item">Company</a>-->
<!--  <a class="item">Careers</a>-->
<!--  <a class="item">Login</a>-->
<!--  <a class="item">Signup</a>-->
<!--</div>-->